.search-filters {
  @include media-breakpoint-down(sm) {
    border: 0;
    border-radius: 0;
  }

  // Sin bordes adicionales, ya se manejan en sidebar
  border: none;
  box-shadow: none;
  background: transparent;
}
